<section class="contact" id="contact">
  <div class="title white">
    <h2>Contact Me</h2>
    <p><strong>I am Palaghia Andrei</strong></p>
  </div>
  <form action="https://formspree.io/f/xvoevzov" method="post" class="contactForm">
    <div class="row">
      <div class="col150">
        <input type="text" name="First_Name" placeholder="First Name">
      </div>
      <div class="col150">
        <input type="text" name="Last_Name" placeholder="Last Name">
      </div>
    </div>
    <div class="row">
      <div class="col150">
        <input type="text" name="email" placeholder="Email">
      </div>
      <div class="col150">
        <input type="text" name="mobile" placeholder="Mobile No.">
      </div>
    </div>
    <div class="row">
      <div class="col100">
        <textarea name="message" placeholder="Message"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col100">
        <input type="submit" value="Send">
      </div>
    </div>
  </form>
</section>